<div class="m-mapDetails">
    <div class="cloud-container cloud-1">
        <div class="cloud"></div>
        <div class="cloud-shadow"></div>
    </div>

    <div class="cloud-container cloud-2">
        <div class="cloud"></div>
        <div class="cloud-shadow"></div>
    </div>

    <div class="cloud-container cloud-3">
        <div class="cloud"></div>
        <div class="cloud-shadow"></div>
    </div>

    <div class="cloud-container cloud-4">
        <div class="cloud"></div>
        <div class="cloud-shadow"></div>
    </div>

    <div class="cloud-container cloud-5">
        <div class="cloud"></div>
        <div class="cloud-shadow"></div>
    </div>

    <div class="boat-container">
        <div class="boat"></div>
        <div class="boat-shadow"></div>
    </div>

    <div class="airplane-container">
        <div class="airplane"></div>
    </div>

    <div class="airplane-container airplane-reversed">
        <div class="airplane"></div>
    </div>
</div>