<div class="project" ng-click="openProject($event); $event.stopPropagation();" ng-class="{'is-current': ctrl.currentProject(item.slug), 'is-active': state.popupVisible == true}">
    <!-- Circle -->
    <span class="circle-hover"></span>
    <span class="circle"></span>
    <span class="circle-2"></span>
    <span class="circle-3"></span>
    <!--<span class="count-circle" bo-if="item.points.length > 1">-->
        <!--<span class="number" bo-bind="item.points.length"></span>-->
        <!--<span class="text-container">-->
          <!--<span class="text">projekt</span>-->
        <!--</span>-->
      <!--</span>-->
    <span class="map-point-country-name" ng-class="{'hidden': state.popupVisible == true}">{{item.points[0].country_name}}</span>
    <!-- END circle -->

    <!-- IF single project -->
    <!--<div bo-if="item.points.length == 1">-->
        <!--<div class="project-popup project-popup-single" ng-if="state.popupVisible === true">-->
            <!--<div class="popup-container" ng-click="app.openView(item.points[0].project_number); $event.stopPropagation();">-->
                <!--<span class="btn-close icon icon_svk_close" ng-click="state.popupVisible = false; $event.stopPropagation();"></span>-->
                <!--<h3 class="h3 title">-->
                    <!--<span bo-bind="item.points[0].city"></span><span bo-if="item.points[0].city.length">, </span><span bo-bind="item.points[0].country_name"></span>-->
                <!--</h3>-->
                <!--<div class="image-container">-->
            <!--<span bo-if="item.points[0].video !== undefined && item.points[0].video !== null" class="m-has-video">-->
              <!--<svg class="svg-icon"><use xlink:href="/assets/svg/icons.svg#video"></use></svg>-->
            <!--</span>-->
                    <!--<img fallback-img="img/projects/no_img.jpg" bo-src-i="project_images/{{item.points[0].project_number}}_0_232.jpg" class="image" bo-title="item.points[0].title" />-->
                <!--</div>-->
                <!--<p class="paragraph project-type project-type-{{item.points[0].theme_id}} description">{{item.points[0].theme}}</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- End single project -->

    <!-- IF multiple projects -->
    <div bo-if="item.points.length > 0 || ( app.states.isBreakpoint == 'mobile' && app.states.isTouch == false)">
        <div class="project-popup project-popup-merged" ng-if="state.popupVisible === true"> <!--  -->
            <div class="project-container">
                <div class="popup-container">

                        <h3 class="h3 title">
                            <span bo-bind="item.points[0].country_name"></span>
                        </h3>
                        <div class="image-container">

                            <img fallback-img="img/projects/no_img.jpg" bo-src-i="{{item.points[0].customImageUrl}}" class="image" />
                        </div>
                        <p class="paragraph project-type project-type-4 description">{{item.points[0].forginName}}</p>
                </div>
            </div>
        </div>
        <div class="national-flag" ng-if="state.popupVisible === true"><img src="/img/nationalFlag/jbbw.png"></div>
    </div>
    <!-- END multiple projects -->
</div>
