<div class="container">
    <div class="inner">

        <!-- Title -->
        <h2 class="h2 title" ng-bind-html="app.localization[app.language].searchPanel.searchTitle"></h2>

        <!-- Search -->
        <div class="search">
              <span class="icon icon-search">
              </span>
            <form ng-submit="closeKeyboard()">
                <input type="search" class="input-search" ng-model="search.term" />
                <span ng-if="search.term.length > 0" ng-click="search.term = ''" class="icon icon-close">
                  &times;
                </span>
            </form>
        </div>

        <header class="m-listview-header">
            <!--<span class="searchResults" ng-show="search.term.length">Sökresultat för "{{search.term}}"</span>-->
            <ul class="listType">
                <li class="listType-item unselectable" ng-click="listType = 'thumbnails'" ng-class="{'is-active': listType == 'thumbnails'}">
                  <span class="icon all">
                  </span>{{app.localization[app.language].searchPanel.allCountry}}
                </li>
                <li class="listType-item unselectable" ng-click="listType = 'list'" ng-class="{'is-active': listType == 'list'}">
                  <span class="icon hot">
                  </span>{{app.localization[app.language].searchPanel.hotCountry}}
                </li>
                <!--<li class="listType-item listType-item-search" ng-show="search.term.length">Träffar: {{filteredItems.length}}</li>-->
            </ul>
        </header>

        <!-- Result -->
        <div class="searchResults">

            <!-- List -->
            <ul class="m-listview listType-thumbnails">
                <li bindonce ng-repeat="project in filteredItems = ((listType == 'thumbnails'?projectsData:projectsHotData) | filter: search.term)" class="listView-item" ng-class-odd="'odd'" ng-class="{'last': $last, 'before-last': filteredItems.length-2 == $index && $index != 1}" ng-class-even="'even'" ng-click="app.displayPopup( project.project_number )">
                    <!--<h4 class="h4 title title-city" ng-class="{ 'is-empty': project.city.length == undefined }">{{project.city}}</h4>-->
                    <h4 class="h4 title title-country">{{project.country_name}}</h4>
                    <!--<p class="paragraph">{{project.title}}</p>-->
                    <span class="projectType projectType-4" ng-if="app.language === 'CN'">{{project.forginName}}</span>
                    <!--<span class="projectNumber">Projektnummer: {{project.project_number}}</span>-->
                    <div class="thumbnail-container">
                        <img class="thumbnail" fallback-img="img/projects/no_img.jpg" ng-src="{{project.nationalFlag}}" />
                    </div>
                </li>
            </ul>
            <p class="h4" ng-if="!filteredItems.length" ng-bind-html="app.localization[app.language].searchPanel.searchResult"></p>
        </div>

        <!-- Close -->
        <span class="btn-close icon" ng-click="app.togglePanel('sok');">
        </span>

    </div>
</div>