<footer class="l-footer is-navBar" data-ng-class=" { 'is-navBar' : app.elements.navigationBar == true } ">
    <!-- Share -->
    <ul class="share">
        <li class="share-item unselectable">
            <a ng-click="shareTwitter()" class="icon icon-twitter">
                <span class="img-icon"></span>
            </a>
        </li>
        <li class="share-item unselectable">
            <a ng-click="shareWeichat()" class="icon icon-weixin">
                <span class="img-icon"></span>
            </a>
        </li>
        <li class="share-item unselectable">
            <a ng-click="shareWeibo()" class="icon icon-weibo">
                <span class="img-icon"></span>
            </a>
        </li>
    </ul>

    <!--Copyright-->
    <span class="copyright">COPYRIGHT @ 聚贸 WWW.G.JUMORE.COM @2015 浙ICP备15010831号-2</span>

    <!-- Links -->
    <ul class="links">
        <li class="link-item unselectable">
            <a href="http://www.jumore.com/bottom-376.shtml" target="_blank" class="link-item-text">
                {{app.localization[app.language].aboutUs}}
            </a>
        </li>
        <li class="link-item unselectable">
            <a href="http://www.jumore.com/bottom-380.shtml" target="_blank" class="link-item-text">
                {{app.localization[app.language].contactUs}}
            </a>
        </li>
    </ul>
</footer>