<aside class="is-init continent-nav-bar" ng-show="app.elements.navigationBar && app.states.isInit == true">
    <ul class="continent-nav">
        <li class="nav-item north-america">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">北美洲</span>
            <span class="nav-item-background"></span>
        </li>
        <li class="nav-item south-america">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">南美洲</span>
            <span class="nav-item-background"></span>
        </li>
        <li class="nav-item europe">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">欧洲</span>
            <span class="nav-item-background"></span>
        </li>
        <li class="nav-item africa">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">非洲</span>
            <span class="nav-item-background"></span>
        </li>
        <li class="nav-item oceania">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">大洋洲</span>
            <span class="nav-item-background"></span>
        </li>
        <li class="nav-item asia">
          <span class="nav-item-icon">
          </span>
            <span class="nav-item-title unselectable">亚洲</span>
            <span class="nav-item-background"></span>
        </li>
    </ul>
</aside>