<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="jm-np" data-ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="jm-np" data-ng-controller="AppCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="jm-np" data-ng-controller="AppCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="jm-np" data-ng-controller="AppCtrl" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My AngularJS App</title>
  <meta name="description" content="">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <base href="/">

  <script src="/dist/js/modernizr-bundle.js"></script>



</head>
<body>
  <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Loading screen -->
  <div class="m-loadingScreen" data-ng-if="app.states.isInit == false" style="position: absolute; top: 0;
    left: 0; right: 0; bottom: 0; background: #fff; z-index: 9999">

    <div class="m-brandLogo" data-ng-if="app.states.isInit == true">
      <span class="logo">Svenska kyrkans Internationella arbete</span>
    </div>
    <div id="loading-bar-spinner">
      <div class="spinner-icon"></div>
    </div>

    <!-- Preload -->
    <!--todo: mapbg img is compressed when publish to dist-->
    <!--<img src="img/mapBg.jpg" style="display: none">-->
  </div>
  <!-- // Loading screen -->

  <!-- App container -->
  <div class="l-container" data-ng-show="app.states.isInit == true">

    <!-- Logo -->
    <div class="m-brandLogo unselectable">
      <a href="/" title="聚贸·国家馆 JUMORE•National Pavilion" class="logo">聚贸·国家馆 JUMORE•National Pavilion</a>
    </div>

    <!-- left continent bar -->
    <div continent-nav-bar></div>

    <!-- Navigation bar -->
    <div navigation-bar></div>

    <!-- Navigation panels -->
    <aside data-ng-if="app.panel.navigationActive == 'sok' && app.panel.viewVisible == false" class="is-init navigation-sok m-sidePanel">
      <div search-panel></div>
    </aside>

    <aside data-ng-if="app.panel.navigationActive == 'oversikt' && app.panel.viewVisible == false" class="is-init navigation-projektoversikt m-sidePanel">
      <div overview-panel></div>
    </aside>

    <!-- Navigation View -->
    <!--todo: why viewVisible is invisible-->
    <aside data-ng-view="" class="view m-sidePanel" data-ng-show="app.panel.viewVisible == true">
    </aside>

    <!-- Map -->
    <section id="m-map-container" class="m-map-container" ng-mouseover="mouseOver = false;" ng-class="{'is-mobile': app.elements.mobilePopup == true}">
      <div class="m-map unselectable" id="map">
        <div map></div>
        <div data-details></div>
      </div>
    </section>
    <!-- // Map -->

    <!-- Footer -->
    <div footer-bar>
    </div>
    <!-- // Footer -->

  </div>
  <!-- // App container -->


</body>
</html>
